# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# local env files
.env
.env.local
.env.*.local


# ... (le tue regole precedenti)

# NON ignorare i file compilati che vogliamo distribuire
!*.exe
!*.zip
!*.msi
!*.dmg

# Se i file sono dentro la cartella target, dobbiamo dire a git di entrare a guardare
!target/release/J-RAY-PRO*